@(gameId: String, color:backgammon.Color)

@main("Welcome to Play Backgammon") {
    <center>
    <h2>You are @color</h2>
    <p>
    <a href=@routes.Application.game(gameId, (color==backgammon.Black))>Give this link to your opponent</a>
    </p>
    
    <p>
    	To play, select a piece, and then click one of the dice.
    </p> 
    <div id="game-board">
    
    	<svg width="710" height="500">
    		<g class="background">
    			<rect width="710" height="700" />
    		</g>
    		<g class="places">
    			<polyline points="0,0 25,200 50,0 " />
    			<polyline points="50,0 75,200 100,0" />
    			<polyline points="100,0 125,200 150,0" />
    			<polyline points="150,0 175,200 200,0" />
    			<polyline points="200,0 225,200 250,0" />
    			<polyline points="250,0 275,200 300,0" />
    			
    			<polyline points="350,0 375,200 400,0" />
    			<polyline points="400,0 425,200 450,0" />
    			<polyline points="450,0 475,200 500,0" />
    			<polyline points="500,0 525,200 550,0" />
    			<polyline points="550,0 575,200 600,0" />
    			<polyline points="600,0 625,200 650,0" />

    			<polyline points="50,500 75,300 100,500" />
    			<polyline points="100,500 125,300 150,500" />
    			<polyline points="150,500 175,300 200,500" />
    			<polyline points="200,500 225,300 250,500" />
    			<polyline points="250,500 275,300 300,500" />
    			
    			<polyline points="350,500 375,300 400,500" />
    			<polyline points="400,500 425,300 450,500" />
    			<polyline points="450,500 475,300 500,500" />
    			<polyline points="500,500 525,300 550,500" />
    			<polyline points="550,500 575,300 600,500" />
    			<polyline points="600,500 625,300 650,500" />
    			<polyline points="0,500 25,300 50,500" />
    		</g>
    		<g class="bar">
    			<rect x="300" width="50" height="500" />
    		</g>
    		<g class="home">
    			<rect x="660" width="50" height="500" />
    		</g>
    
    		<g id="pieces">
    		</g>
    
    	</svg>
    </div>
    
    <div id="dice">
    
    </div>
    <p>
    	The color of the dice tell you whose turn it is.
    </p>
    <p>
    	(If you have no legal moves, attempt an illegal move. The game will detect you have no possible legal moves and move the turn to the other player.) 
    </p>
    </center>
    <script>
    $(window).load(function() { 
    	Backgammon.color = "@color.toString"
    	Backgammon.connect("@gameId")
    })
    </script>
    
    <style>
    
    </style>
    
}